# temporary, build, dist folders
temp/
build/
dist/
Dawnet.egg-info/

# python compiled code
*.pyc
__pycache__

# os and other tools
.DS_Store
.ipynb_checkpoints
*.swp
.vscode/
.idea/**
*.pbxproj
*.xcworkspacedata

# vim
Session.vim
